html {
    --NavBarHeight: 150px;

    scrollbar-width: auto;
    scrollbar-color: #a2a2a2 #2c2c2c;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;

    margin: 0;

    background: #000;
}

#barBox {
    position: fixed;
    width: 100%;
    height: var(--NavBarHeight);

    background: #0a0a0af5;
    backdrop-filter: blur(30px);

    
}

#appWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 100%;

    overflow-y: scroll;
}

#appMain {
    position: relative;
    width: 100%;
    height: 1000px;

    background: #141414;

    margin-top: var(--NavBarHeight);

    z-index: -1;
}