#homeBox {
    position: relative;
    width: 100%;
    height: max-content;
}

#homeBox > .first {
    height: calc(100vh - var(--NavBarHeight) + var(--SeparatorHeight));

    background: var(--B1);

    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr;

    padding-right: 0;
    padding-left: 0;
}

#homeTitleBox {
    position: relative;
    width: 100%;
    height: 100%;

    padding: calc(var(--NavBarHeight) / 2);
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#homeTitleBox::after {
    position: absolute;
    width: calc(var(--SeparatorHeight) / 2);
    min-width: 1px;
    height: 100%;
    top: 0;
    right: 0;

    content: "";

    background: linear-gradient(transparent, var(--CLcolorMain), transparent);
    opacity: 60%;
}

#homeTitle {
    position: relative;
    width: 100%;
    height: max-content;

    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

#homeTitle>.t {
    font-family: "CLvetica";
    color: var(--CLcolorMain);
    font-size: clamp(1px, 8vw, 12vh);

    animation: glowAnim infinite alternate ease 4s;

    margin-bottom: 1vh;
}

#homeTitle>.s {
    font-family: "CLvetica";
    color: #fff;
    font-size: var(--FS2b);
    align-self: center;
}

#homeButtons {
    position: relative;
    width: 100%;
    height: max-content;

    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-wrap: wrap;

    padding: 5vh 0;
    box-sizing: border-box;
}

#homeButtons > .button {
    position: relative;
    font-size: var(--FS2);
    font-family: "CLvetica";

    padding: 1.5vh 2.5vh;
    border: var(--CLcolorMain) 0.35vh solid;
    border-radius: 100vh;

    transition: all .3s cubic-bezier(.4, 2, .6, 1);
}

#homeButtons > .button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#homeButtons > .team {
    color: var(--CLcontrast);
    background: var(--CLcolorMain);
    filter: drop-shadow(0 0 5vh color-mix(in srgb, var(--CLcolorMain) 65%, transparent));

    margin-right: calc(var(--HomeButtonsSize) * 5/4);
}

#homeButtons > .sponsors {
    color: var(--CLcolorMain);
    filter: drop-shadow(0 0 2vh var(--CLcolorMain));
}

#homeButtons > .team:hover {
    filter: drop-shadow(0 0 2vh color-mix(in srgb, var(--CLcolorMain) 65%, transparent));
}

#homeButtons > .sponsors:hover {
    filter: drop-shadow(0 0 0.35vh var(--CLcolorMain));
}

#homeImageBox {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 calc(var(--NavBarHeight) / 2);
    box-sizing: border-box;

    overflow: hidden;
}

#homeImgContainer {
    position: absolute;
    aspect-ratio: 4/3;
    width: clamp(0px, calc(100% - var(--NavBarHeight)), calc(calc(100vh - var(--NavBarHeight) * 2 + var(--SeparatorHeight)) * 4 / 3));
    height: auto;

    max-height: 100%;

    border: var(--CLcolorMain) 3px solid;
    border-radius: calc(var(--HomeImgSize) / 15) 0;
    box-sizing: border-box;

    filter: drop-shadow(0 0 calc(var(--HomeImgSize) / 40) color-mix(in srgb, var(--CLcolorMain) 40%, transparent));

    overflow: hidden;
}

#homeImgContainer > .arrow {
    position: absolute;
    width: 6lvh;
    aspect-ratio: 1;

    top: calc(50% - 3lvh);
    border-radius: 100vh;

    background: color-mix(in srgb, var(--CLcolorMain) 80%, transparent);
    z-index: 10;
    align-self: end;
    justify-self: center;

    display: flex;
    justify-content: center;
    align-items: center;
    

    color: var(--CLcontrast);
    font-size: var(--FS3);
    line-height: var(--FS3);

    filter: drop-shadow(0 0 0 var(--CLcolorMain));
    transition: all .1s ease;
}

#homeImgContainer > .arrow:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 calc(var(--HomeImgSize) / 80) var(--CLcolorMain));
}

#homeImgContainer > .l {
    left: 1vw;

    transform: rotateY(180deg);
}

#homeImgContainer > .r {
    right: 1vw;
}

#homeImgContainer > .l:hover {
    transform: scale(1.1) rotateY(180deg);
}

#homeImgContainer > .r:hover {
    transform: scale(1.1);
}

#homeImgWrapper {
    position: relative;
    width: 400%;
    height: 100%;

    display: flex;
    justify-content: start;
    align-items: start;

    transform: translateX(0);
    transition: transform .5s ease;
}

#homeImgWrapper > .img {
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    transition: transform .5s ease, opacity 1s cubic-bezier(.4, 2, .6, 1);

    opacity: 0%;
}

#homeImgWrapper > .img.selected {
    opacity: 100%;
}

#homeImgWrapper > .img:hover {
    transform: scale(1.05);
}

#homeBox > .second {
    background: var(--B2);
}

#homesponsorSliderContainer {
    position: relative;
    width: 100%;
    height: 25vh;

    overflow: hidden;
}

#homeSponsorsUI {
    position: absolute;
    width: 125%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;

    place-items: center;

    will-change: transform;
    transition: trasform 1ms linear;

    overflow: hidden;
}

.sponsorSliderElement {
    width: fit-content;
    height: fit-content;
    max-height: 90%;
    max-width: 90%;

    border-radius: 2vh;
    background-color: var(--B3);

    padding: 2vh;
    box-sizing: border-box;

    display: flex;
    min-height: 0;
    min-width: 0;

    will-change: grid-column;
    
    filter: drop-shadow(.5vh .5vh .5vh color-mix(in srgb, var(--CLcolorMain) 35%, transparent));
}

.sponsorSliderElement > img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

#homeBox > .third {
    background: var(--B2);
}

#homeEventBox {
    position: relative;
    width: 100%;
    height: 50vh;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content 1fr;
}

#homeEventUI {
    position: relative;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: 1;
    grid-template-columns: repeat(4, 1fr);

    overflow: hidden;
}

.eventTimer {
    position: relative;
    width: 70%;
    max-height: 90%;
    aspect-ratio: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
}

.eventTimer > svg {
    max-width: 100%;
    max-height: 100%;
}

.eventBg {
    fill: none;
    stroke: var(--B3);
    
    stroke-width: 25px;
}

.eventTimerStroke {
    fill: none;
    stroke: var(--CLcolorMain);
    transform: rotateZ(-90deg);
    transform-origin: center;

    --c: calc(2 * (256 - 25 / 2) * 3.1415);

    stroke-dasharray: var(--sweep) var(--c);
    stroke-linecap: round;
    stroke-width: 25px;

    transition: all .1s ease;
}

.eventTimerLabels {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eventTimerLabels > .n {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "CLvetica";
    color: var(--CLcolorMain);
    font-size: 4vw;
}

.eventTimerLabels > .nL {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "CLsans";
    color: #fff;
    font-size: 1vw;
}

@keyframes glowAnim {
    0% {
        filter: drop-shadow(0 0 2vh color-mix(in srgb, var(--CLcolorMain) 65%, transparent));
    }
    100% {
        filter: drop-shadow(0 0 3vh color-mix(in srgb, var(--CLcolorMain) 35%, transparent));
    }
}