#homeBox {
    position: relative;
    width: 100%;
    height: calc(100vh - var(--NavBarHeight) + var(--SeparatorHeight));

    background: var(--B1);

    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr;
}

#homeTitleBox {
    position: relative;
    width: 100%;
    height: 100%;

    padding: var(--HomeTitlePadding) calc(0.4 * var(--HomeTitlePadding));
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
}

#homeTitleBox::after {
    position: absolute;
    width: calc(var(--SeparatorHeight) / 2);
    height: 100%;
    top: 0;
    right: 0;

    content: "";

    background: linear-gradient(transparent, var(--CLcolor1), transparent);
    opacity: 60%;
}

#homeTitle {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

#homeTitle>.t {
    font-family: "CLvetica";
    color: var(--CLcolor1);
    font-size: var(--HomeTitlePadding);

    animation: glowAnim infinite alternate ease 4s;

    margin-bottom: 10px;
}

#homeTitle>.s {
    font-family: "CLvetica";
    color: #fff;
    font-size: var(--HomeSubtitleFontSize);
    align-self: center;
}

#homeButtons {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;

    padding: var(--HomeButtonsPadding) 0;
    box-sizing: border-box;
}

#homeButtons > .button {
    position: relative;
    font-size: var(--HomeButtonsSize);
    font-family: "CLvetica";

    padding: calc(var(--HomeButtonsSize) * 5/8) 5%;
    border: var(--CLcolor1) 3px solid;
    border-radius: 100px;

    transition: all .3s cubic-bezier(.4, 2, .6, 1);
}

#homeButtons > .button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#homeButtons > .team {
    color: var(--CLcontrast);
    background: var(--CLcolor1);
    filter: drop-shadow(0 0 50px color-mix(in srgb, var(--CLcolor1) 65%, transparent));

    margin-right: calc(var(--HomeButtonsSize) * 5/4);
}

#homeButtons > .sponsors {
    color: var(--CLcolor1);
    filter: drop-shadow(0 0 var(--HomeButtonsSize) var(--CLcolor1));
}

#homeButtons > .team:hover {
    filter: drop-shadow(0 0 var(--HomeButtonsSize) color-mix(in srgb, var(--CLcolor1) 65%, transparent));
}

#homeButtons > .sponsors:hover {
    filter: drop-shadow(0 0 5px var(--CLcolor1));
}

#homeImageBox {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#homeImgContainer {
    position: relative;
    width: clamp(calc(var(--HomeImgSize) * 5/8), 80%, var(--HomeImgSize));
    aspect-ratio: 4/3;

    border: var(--CLcolor1) 3px solid;
    border-radius: calc(var(--HomeImgSize) / 15) 0;

    filter: drop-shadow(0 0 calc(var(--HomeImgSize) / 40) color-mix(in srgb, var(--CLcolor1) 40%, transparent));

    overflow: hidden;
}

#homeImgContainer > .arrow {
    position: absolute;
    width: calc(var(--HomeImgSize) / 15);
    aspect-ratio: 1;

    top: calc(50% - calc(var(--HomeImgSize) / 15));

    border-radius: 100%;
    background: color-mix(in srgb, var(--CLcolor1) 80%, transparent);
    z-index: 10;
    align-self: start;

    display: flex;
    justify-content: center;
    align-items: center;
    line-height: calc(var(--HomeImgSize) / 15);

    color: var(--CLcontrast);
    font-size: calc(var(--HomeSubtitleFontSize) / 2);
    filter: drop-shadow(0 0 0 var(--CLcolor1));

    transition: all .1s ease;
    user-select: none;
}

#homeImgContainer > .arrow:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 calc(var(--HomeImgSize) / 80) var(--CLcolor1));
}

#homeImgContainer > .l {
    left: 15px;

    transform: rotateY(180deg);
}

#homeImgContainer > .r {
    right: 15px;
}

#homeImgContainer > .l:hover {
    transform: scale(1.1) rotateY(180deg);
}

#homeImgContainer > .r:hover {
    transform: scale(1.1);
}

#homeImgWrapper {
    position: relative;
    width: 400%;
    height: 100%;

    display: flex;
    justify-content: start;
    align-items: start;

    transform: translateX(0);
    transition: transform .5s ease;
}

#homeImgWrapper > .img {
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    transition: transform .5s ease, opacity 1s cubic-bezier(.4, 2, .6, 1);

    opacity: 0%;
}

#homeImgWrapper > .img.selected {
    opacity: 100%;
}

#homeImgWrapper > .img:hover {
    transform: scale(1.05);
}

@keyframes glowAnim {
    0% {
        filter: drop-shadow(0 0 20px color-mix(in srgb, var(--CLcolor1) 65%, transparent));
    }
    100% {
        filter: drop-shadow(0 0 30px color-mix(in srgb, var(--CLcolor1) 35%, transparent));
    }
}

/*"\f2b5"*/