#homeBox {
    position: relative;
    width: 100%;
    height: calc(100vh - var(--NavBarHeight) + var(--SeparatorHeight));

    background: var(--B1);

    display: grid;
    grid-template-columns: .4fr .6fr;
    grid-template-rows: 1fr;
}

#homeTitleBox {
    position: relative;
    width: 100%;
    height: 100%;

    
    padding: 100px 40px;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
}

#homeTitleBox::after {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    right: 0;

    content: "";

    background: linear-gradient(transparent, var(--CLcolor1), transparent);
    opacity: 60%;
}

#homeTitle {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

#homeTitle>.t {
    font-family: "CLvetica";
    color: var(--CLcolor1);
    font-size: 100px;

    animation: glowAnim infinite alternate ease 4s;

    margin-bottom: 10px;
}

#homeTitle>.s {
    font-family: "CLvetica";
    color: #fff;
    font-size: 35px;
}

#homeButtons {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;

    padding: 60px 0;
    box-sizing: border-box;
}

#homeButtons > .button {
    position: relative;
    font-size: 24px;
    font-family: "CLvetica";

    padding: 15px 5%;
    border-radius: 100px;

    transition: all .3s linear;
}

#homeButtons > .button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#homeButtons > .team {
    color: var(--CLcontrast);
    background: var(--CLcolor1);
    filter: drop-shadow(0 0 50px color-mix(in srgb, var(--CLcolor1) 65%, transparent));

    margin-right: 30px;
}

#homeButtons > .sponsors {
    color: var(--CLcolor1);
    border: var(--CLcolor1) 3px solid;
    filter: drop-shadow(0 0 20px var(--CLcolor1));
}

#homeButtons > .team:hover {
    filter: drop-shadow(0 0 20px color-mix(in srgb, var(--CLcolor1) 65%, transparent));
}

#homeButtons > .sponsors:hover {
    filter: drop-shadow(0 0 5px var(--CLcolor1));
}

@keyframes glowAnim {
    0% {
        filter: drop-shadow(0 0 20px color-mix(in srgb, var(--CLcolor1) 65%, transparent));
    }
    100% {
        filter: drop-shadow(0 0 30px color-mix(in srgb, var(--CLcolor1) 35%, transparent));
    }
}

/*"\f2b5"*/