@media only screen and (orientation: portrait) {
    #homeBox > .first {
        height: calc(100svh - var(--NavBarHeight));

        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;

        padding-bottom: 0;
    }

    #homeTitleBox {
        padding: 0;
    }

    #homeTitle>.t {
        font-size: 14vw;
        align-self: center;
    }

    /* #homeButtons {
        align-items: center;
    } */

    #homeImageBox {
        padding: 0 5vw;
        box-sizing: border-box;

        overflow: hidden;
    }

    #homeTitleBox::after {
        width: 100vw;
        height: calc(var(--SeparatorHeight) / 2);
        top: 100%;
        right: 0;

        background: linear-gradient(to right, transparent, var(--CLcolorMain), transparent);
    }

    #homeImageBox{
        padding: 0 calc(var(--NavBarHeight) / 2);
    }

    #homeImgContainer {
        border-radius: 10vw 0;
    }

    #homeImgContainer > .arrow {
        width: 10vw;
        top: calc(50% - 5vw);
    }

    #homeEventBox {
        height: 60lvh;
    }

    #homeEventUI {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);

        padding: 4vh 2vh 0 2vh;
        row-gap: 4vh;
        box-sizing: border-box;
    }

    .eventTimer  {
        width: unset;
        height: 100%;
        max-height: unset;

        overflow: hidden;
    }

    .eventTimerLabels {
        width: 100%;
    }

    .eventTimerLabels > .n {
        font-size: 6vh;
    }

    .eventTimerLabels > .nL {
        font-size: 2vh;
    }

    #homesponsorSliderContainer {
        height: 20vh;
    }

    .sponsorSliderElement {
        padding: 1.3vh;
    }
}

@media only screen and (orientation: portrait) and (min-width: 600px) {
    #homeTitleBox {
        padding: 0 5vh;
    }

    #homeTitle>.t {
        font-size: clamp(1px, 13vh, 14vw);
        align-self: center;
    }

    #homeImageBox {
        padding: calc(var(--NavBarHeight) / 2);
    }

    #homeImgContainer {
        max-height: calc(100% - var(--NavBarHeight));
    }

    #homeImgContainer > .arrow {
        width: 6vh;
        top: calc(50% - 3vh);
    }
}

