#homeBox {
    position: relative;
    width: 100%;
    height: max-content;
}

#homeBox > .first {
    height: calc(100vh - var(--NavBarHeight) + var(--SeparatorHeight));

    background: var(--B1);

    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr;

    padding-right: 0;
    padding-left: 0;
}

#homeTitleBox {
    position: relative;
    width: 100%;
    height: 100%;

    padding: var(--HomeTitlePadding);
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
}

#homeTitleBox::after {
    position: absolute;
    width: calc(var(--SeparatorHeight) / 2);
    min-width: 1px;
    height: 100%;
    top: 0;
    right: 0;

    content: "";

    background: linear-gradient(transparent, var(--CLcolorMain), transparent);
    opacity: 60%;
}

#homeTitle {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

#homeTitle>.t {
    font-family: "CLvetica";
    color: var(--CLcolorMain);
    font-size: var(--HomeTitlePadding);

    animation: glowAnim infinite alternate ease 4s;

    margin-bottom: 1vh;
}

#homeTitle>.s {
    font-family: "CLvetica";
    color: #fff;
    font-size: var(--HomeSubtitleFontSize);
    align-self: center;
}

#homeButtons {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;

    padding: var(--HomeButtonsPadding) 0;
    box-sizing: border-box;
}

#homeButtons > .button {
    position: relative;
    font-size: var(--HomeButtonsSize);
    font-family: "CLvetica";

    padding: calc(var(--HomeButtonsSize) * 5/8) 5%;
    border: var(--CLcolorMain) 0.35vh solid;
    border-radius: 100vh;

    transition: all .3s cubic-bezier(.4, 2, .6, 1);
}

#homeButtons > .button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#homeButtons > .team {
    color: var(--CLcontrast);
    background: var(--CLcolorMain);
    filter: drop-shadow(0 0 5vh color-mix(in srgb, var(--CLcolorMain) 65%, transparent));

    margin-right: calc(var(--HomeButtonsSize) * 5/4);
}

#homeButtons > .sponsors {
    color: var(--CLcolorMain);
    filter: drop-shadow(0 0 var(--HomeButtonsSize) var(--CLcolorMain));
}

#homeButtons > .team:hover {
    filter: drop-shadow(0 0 var(--HomeButtonsSize) color-mix(in srgb, var(--CLcolorMain) 65%, transparent));
}

#homeButtons > .sponsors:hover {
    filter: drop-shadow(0 0 0.35vh var(--CLcolorMain));
}

#homeImageBox {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#homeImgContainer {
    position: relative;
    width: clamp(10px, var(--HomeImgSize), 65%);
    aspect-ratio: 4/3;

    border: var(--CLcolorMain) 3px solid;
    border-radius: calc(var(--HomeImgSize) / 15) 0;

    filter: drop-shadow(0 0 calc(var(--HomeImgSize) / 40) color-mix(in srgb, var(--CLcolorMain) 40%, transparent));

    overflow: hidden;
}

#homeImgContainer > .arrow {
    position: absolute;
    width: calc(var(--HomeImgSize) / 15);
    aspect-ratio: 1;

    top: calc(50% - calc(var(--HomeImgSize) / 15));

    border-radius: 100%;
    background: color-mix(in srgb, var(--CLcolorMain) 80%, transparent);
    z-index: 10;
    align-self: start;

    display: flex;
    justify-content: center;
    align-items: center;
    line-height: calc(var(--HomeImgSize) / 15);

    color: var(--CLcontrast);
    font-size: calc(var(--HomeSubtitleFontSize) / 1.6);
    filter: drop-shadow(0 0 0 var(--CLcolorMain));

    transition: all .1s ease;
    user-select: none;
}

#homeImgContainer > .arrow:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 calc(var(--HomeImgSize) / 80) var(--CLcolorMain));
}

#homeImgContainer > .l {
    left: 1vw;

    transform: rotateY(180deg);
}

#homeImgContainer > .r {
    right: 1vw;
}

#homeImgContainer > .l:hover {
    transform: scale(1.1) rotateY(180deg);
}

#homeImgContainer > .r:hover {
    transform: scale(1.1);
}

#homeImgWrapper {
    position: relative;
    width: 400%;
    height: 100%;

    display: flex;
    justify-content: start;
    align-items: start;

    transform: translateX(0);
    transition: transform .5s ease;
}

#homeImgWrapper > .img {
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    transition: transform .5s ease, opacity 1s cubic-bezier(.4, 2, .6, 1);

    opacity: 0%;
}

#homeImgWrapper > .img.selected {
    opacity: 100%;
}

#homeImgWrapper > .img:hover {
    transform: scale(1.05);
}

@keyframes glowAnim {
    0% {
        filter: drop-shadow(0 0 2vh color-mix(in srgb, var(--CLcolorMain) 65%, transparent));
    }
    100% {
        filter: drop-shadow(0 0 3vh color-mix(in srgb, var(--CLcolorMain) 35%, transparent));
    }
}

#homeBox > .second {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: var(--B2);
}

#homeEventBox {
    position: relative;
    width: 100%;
    height: 80%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content 1fr;
}

#homeEventTitle {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "CLvetica";
    font-size: calc(var(--HomeSubtitleFontSize) * 2);
    color: var(--CLcolorMain);
    animation: glowAnim infinite alternate ease 4s;

    margin-bottom: 2vh;
}

#homeEventSubtitle {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "CLvetica";
    color: #fff;
    font-size: calc(var(--HomeSubtitleFontSize) / 1.5 );

    margin-bottom: 4vh;
}

#homeEventUI {
    position: relative;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: 1;
    grid-template-columns: repeat(4, 1fr);

    padding: 2vh 10vh;
    box-sizing: border-box;
}

.eventTimer {
    position: relative;
    width: 70%;
    max-height: 90%;
    aspect-ratio: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
}

.eventTimer > svg {
    max-width: 100%;
    max-height: 100%;
}

.eventBg {
    fill: none;
    stroke: var(--B3);
    
    stroke-width: 25px;
}

.eventTimerStroke {
    fill: none;
    stroke: var(--CLcolorMain);
    transform: rotateZ(-90deg);
    transform-origin: center;

    --c: calc(2 * (256 - 25 / 2) * 3.1415);

    stroke-dasharray: var(--sweep) var(--c);
    stroke-linecap: round;
    stroke-width: 25px;

    transition: all .1s ease;
}

.eventTimerLabels {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eventTimerLabels > .n {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "CLvetica";
    color: var(--CLcolorMain);
    font-size: calc(var(--HomeSubtitleFontSize) * 2);
}

.eventTimerLabels > .nL {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "CLsans";
    color: #fff;
    font-size: calc(var(--HomeSubtitleFontSize) / 1.5);
}

#homeBox > .third {
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: var(--B2);
}

#homeSponsorsUI {
    position: relative;
    width: 100%;
    height: 70%;

    display: flex;
    align-items: center;

    overflow: hidden;
}

.sponsorSliderElement {
    position: absolute;
    width: 25%;
    height: 100%;
    max-width: 40vh;

    border-radius: 3vw;
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    background-color: var(--B3);

    transition: transform 20s linear;
}