#barBox {
    position: fixed;
    width: 100%;
    height: var(--NavBarHeight);

    background: #0a0a0aaa;
    backdrop-filter: blur(30px);

    z-index: 10;

    display: grid;
    grid-template-columns: var(--NavBarLogoSize) 1fr;
    grid-template-rows: 1fr;

    padding: 0 40px;
    box-sizing: border-box;
}

#barBox::after {
    position: fixed;
    display: block;
    top: var(--NavBarHeight);
    width: 100%;
    height: 1px;
    content: "";

    background: linear-gradient(to right, transparent, var(--CLcolorMain), transparent);
    opacity: 50%;
}

#barLogo {
    position: relative;
    width: calc(100% - var(--NavBarLogoMargin) * 2);
    height: calc(100% - var(--NavBarLogoMargin) * 2);
    
    margin: var(--NavBarLogoMargin) 0;
    object-fit: contain;
    color: var(--CLcolorMain);

    transition: transform 0.2s cubic-bezier(.4, 2, .6, 1);
}

#barLogo > svg {
    max-height: calc(var(--NavBarHeight) - var(--NavBarLogoMargin) * 2);
    display: block;
}

#barLogo:hover {
    cursor: pointer;
    transform: scale(1.03);
}

#barWrapper {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: end;
    align-items: center;
}

#barMenuButton {
    display: none;
}

.barList {
    font-size: var(--NavBarFontSize);
    color: #fff;
    font-family: "CLvetica";

    margin-left: calc(var(--NavBarPadding) / 2);
    padding: 5px 10px 0px;
    box-sizing: border-box;

    border-radius: 20px;

    transition: all .1s linear;
}

.barList::after {
    position: relative;
    display: block;
    left: 0;
    bottom: 0;
    content: "";
    height: 2px;
    width: 100%;

    background-color: var(--CLcolorMain);
    border-radius: 2px;

    transition: transform 0.25s cubic-bezier(.4, 2, .6, 1);

    transform: scaleX(0)
}

.barList.selected, .barList:hover {
    cursor: pointer;
    background: color-mix(in srgb, var(--CLcolorMain) 20%, transparent);
    color: var(--CLcolorMain);
}

.barList.selected:hover {
    transform: scale(1.1);
}

.barList.selected::after, .barList:hover::after {
    transform: scaleX(1);
}