@media only screen and (orientation: landscape) and (max-width: 1270px) {
    .barList {
        font-size: var(--SF2);
    }
}

@media only screen and (orientation: portrait) {
    #barBox {
        padding: 0 10px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
    }

    #barWrapper {
        position: fixed;
        width: 100%;
        height: calc(100vh - var(--NavBarHeight));
        top: var(--NavBarHeight);
        left: -100%;

        background: #0a0a0aaa;
        z-index: 9;

        transition: all 0.3s ease;

        flex-direction: column;
        justify-content: start;
        padding: 40px 0;
        box-sizing: border-box;
    }

    #barWrapper::after {
        position: absolute;
        top: 0;
        right: 0;
        content: "";
        height: 100%;
        width: 1px;

        background: linear-gradient(to bottom, transparent, var(--CLcolorMain), transparent);
        opacity: 50%;
    }

    #barBlurHelper {
        position: fixed;
        width: 100%;
        height: calc(100vh - var(--NavBarHeight));
        top: var(--NavBarHeight);
        left: -100%;

        backdrop-filter: blur(30px);
        z-index: 8;

        transition: all 0.3s ease;
    }

    #barWrapper.selected, #barBlurHelper.selected {
        left: 0;
    }

    .barList {
        font-size: 3vh;
        margin: 8px 0;
    }

    #barMenuButton {
        height: 100%;
        max-height: 100%;
        aspect-ratio: 1;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    #barMenuButton > svg {
        display: block;
        max-width: 30px;
        color: var(--CLcolorMain);
    }

    #barMenuButton > svg > * {
        transition: all 0.2s ease;
    }

    #barMenuButton.selected > svg > #menuStroke1 {
        transform: rotateZ(45deg) translateY(-10%) translateX(5%);
    }

    #barMenuButton.selected > svg > #menuStroke2 {
        transform: translateX(100%);
        opacity: 0%;
    }

    #barMenuButton.selected > svg > #menuStroke3 {
        transform: rotateZ(-45deg) translateY(-20%) translateX(-50%);
    }

    @keyframes test1 {
        0% {
            transform: rotateZ(0deg);
        }
        50% {
            transform: rotateZ(360deg);
        }
        100% {
            transform: rotateZ(0deg);
        }
    }
}