@media only screen and (max-width: 1270px) and (orientation: landscape) {
    html {
        --NavBarHeight: 120px;
        --ModeSelectorWidth: 100px;

        --loaderTitleFontSize: 35px;
        --loaderLogoSize: 150px;

        --NavBarLogoMargin: 20px;
    }

    .page {
        padding: calc(var(--NavBarHeight) / 3);
    }

    #modeBall {
        height: calc(100% - 1.5vh);
        left: .75vh;
        top: .75vh;
    }
}

@media only screen and (orientation: portrait) {
    html {
        --NavBarHeight: 80px;
        --NavBarLogoMargin: 10px;

        --ModeSelectorWidth: 70px;

        --loaderTitleFontSize: 30px;
        --loaderProgressBarWidth: 70%;

        --FS0: 6vh;
        --FS1: 4.5vh;
        --FS2: 4vw;
        --FS3: 2vh;
        --FS4: 1.5vh;

        --FS2b: 4vw;
    }

    #modeSelector {
        z-index: 7;
    }

    .page {
        padding: 5vh 0;
    }
}

@media only screen and (orientation: portrait) and (min-width: 600px) {
    html {
        --NavBarHeight: 100px;

        --FS0: 6vh;
        --FS1: 4.5vh;
        --FS2: 2.5vh;
        --FS3: 2vh;
        --FS4: 1.5vh;

        --FS2b: 4vw;
    }

    #modeBall {
        height: calc(100% - 1.2vw);
        left: .6vw;
        top: .6vw;
    }
}