@media only screen and (max-width: 1270px) and (orientation: landscape) {
    html {
        --NavBarHeight: 120px;
        --HomeTitlePadding: 85px;
        --HomeSubtitleFontSize: 30px;
        --HomeImgSize: 800px;
        --HomeButtonsSize: 18px;
        --ModeSelectorWidth: 100px;
        --loaderTitleFontSize: 35px;
        --loaderLogoSize: 150px;
        --NavBarLogoMargin: 20px;
        --NavBarFontSize: 18px;
        --NavBarPadding: 40px;
    }

    .page {
        padding: calc(var(--NavBarHeight) / 3);
    }
}

@media only screen and (orientation: portrait) {
    html {
        --NavBarHeight: 80px;
        --NavBarLogoMargin: 10px;
        --NavBarFontSize: 18px;

        --HomeTitlePadding: 8vw;
        --HomeSubtitleFontSize: 5vw;
        --HomeButtonsPadding: 5vw;
        --HomeButtonsSize: clamp(10px, 4vw, 24px);
        --HomeImgSize: 800px;

        --ModeSelectorWidth: 70px;

        --loaderTitleFontSize: 30px;
        --loaderProgressBarWidth: 70%;
    }

    #modeSelector {
        z-index: 7;
    }

    .page {
        padding: 0;
    }
}

@media only screen and (orientation: portrait) and (min-height: 800px) {
    html {
        --NavBarHeight: 100px;
        --NavBarFontSize: 24px;

        --HomeTitlePadding: 7vw;
        --HomeSubtitleFontSize: 4vw;
        --HomeButtonsPadding: 4vw;
        --HomeButtonsSize: 1.7vh;
    }

    #modeBall {
        height: calc(100% - 1.2vw);
        left: .6vw;
        top: .6vw;
    }
}