@media only screen and (max-width: 1270px) and (orientation: landscape) {
    html {
        --NavBarHeight: 120px;
        --HomeTitlePadding: 85px;
        --HomeSubtitleFontSize: 30px;
        --HomeButtonsSize: 18px;
    }
}

@media only screen and (orientation: portrait) {
    html {
        --NavBarHeight: 80px;
        --NavBarLogoMargin: 10px;
        --HomeTitlePadding: 8vw;
        --HomeSubtitleFontSize: 5vw;
        --HomeButtonsPadding: 5vw;
        --HomeButtonsSize: clamp(10px, 4vw, 24px);
    }
}