html {
    --scX: 1;
    --scY: 1;

    --NavBarHeight: 150px;
    --NavBarPadding: 40px;
    --NavBarLogoSize: 500px;
    --NavBarLogoMargin: 20px;
    --NavBarFontSize: 18px;
    --SeparatorHeight: 2px;
    --ModeSelectorWidth: 100px;

    --HomeTitlePadding: 100px;
    --HomeSubtitleFontSize: 35px;
    --HomeButtonsPadding: 60px;
    --HomeButtonsSize: 24px;
    --HomeImgSize: 800px;

    --ParticleMaxCount: 8;
    --ParticleMinSize: 2;
    --ParticleMaxSize: 4;
    --ParticleMinSpeed: 8;
    --ParticleMaxSpeed: 15;
    --ParticleOpacity: 40;
    
    --CLcolor1: #3dc1dc;
    --CLcolor2: #fa7605;
    --CLcolorMain: var(--CLcolor1);
    --CLcontrast: #fff;

    --B1: #0f0f0f;
    --B2: #141414;

    scrollbar-width: auto;
    scrollbar-color: #a2a2a2 #2c2c2c;
    scroll-behavior: smooth;
    /*scrollbar-color: #3dc1dc #0b0b0b;*/
}

body {
    position: absolute;
    width: 100%;
    height: auto;

    margin: 0;

    background: #000;
}

#appMain {
    position: relative;
    width: 100%;
    height: max-content;

    background: #0f0f0ff5;
    backdrop-filter: blur(30px);

    margin-top: calc(var(--NavBarHeight));
}

#bgParticles {
    position: fixed;
    inset: 0;

    z-index: 9;

    pointer-events: none;
}

#modeSelector {
    position: fixed;
    width: var(--ModeSelectorWidth);
    aspect-ratio: 16/9;
    bottom: 10px;
    right: 10px;
    border-radius: 100px;
    background: color-mix(in srgb, var(--CLcolor1) 60%, transparent);
    backdrop-filter: blur(30px);

    box-shadow: 0px 8px 32px 0 #0000005e,
                inset 0 4px 5px #ffffff2e,
                inset 0 -4px 5px #ffffff2e;
    z-index: 10;

    padding: 5px;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;

    transition: all .2s ease;
}

#modeSelector.selected {
    background: color-mix(in srgb, var(--CLcolor2) 60%, transparent);
}

#modeSelector > div {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "CLvetica";
    font-size: calc(var(--ModeSelectorWidth) / 5);
}

#modeBall {
    position: absolute;
    height: calc(100% - 10px);
    left: 5px;
    top: 5px;
    aspect-ratio: 1;

    background: var(--CLcolor1);
    border-radius: 100px;

    transition: all .2s ease;
}

#modeBall:hover {
    cursor: pointer;
}

#modeBall.selected {
    background: var(--CLcolor2);
    left: calc(100% - var(--ModeSelectorWidth) / 16 * 9 + 5px) ;
}

.particle {
    position: fixed;
    top: 50%;
    left: 20%;
    aspect-ratio: 1;

    background: var(--CLcolorMain);
    border-radius: 50%;

    z-index: 9;
}

@font-face {
    font-family: "CLvetica";
    src: url("../assets/font/Coolvetica Rg.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

.appBox {
    position: relative;
    width: 100%;
    height: 1000px;
    background-color: #353535;
}

.appBox::after {
    position: absolute;
    width: 100%;
    height: var(--SeparatorHeight);
    left: 0;
    bottom: 0;

    content: "";
    background: linear-gradient(to right, transparent, var(--CLcolorMain), transparent);
}