
/*NOTE - HTML & body */
html {
    --scX: 1;
    --scY: 1;

    --NavBarHeight: 15vh;
    --NavBarPadding: 2vw;
    --NavBarLogoSize: 50vh;
    --NavBarLogoMargin: 2vh;
    --NavBarFontSize: 2vh;
    --SeparatorHeight: 0.21vh;
    --ModeSelectorWidth: 11vh;

    --HomeTitlePadding: 11vh;
    --HomeSubtitleFontSize: 3.4vh;
    --HomeButtonsPadding: 6.4vh;
    --HomeButtonsSize: 2.6vh;
    --HomeImgSize: 50vw;

    --ParticleMaxCount: 8;
    --ParticleMinSize: 2;
    --ParticleMaxSize: 4;
    --ParticleMinSpeed: 8;
    --ParticleMaxSpeed: 15;
    --ParticleOpacity: 40;

    --loaderTitleFontSize: 4.6vh;
    --loaderLogoSize: 18vh;
    --loaderProgressBarWidth: 30%;
    
    --CLcolor1: #3dc1dc;
    --CLcolor2: #fa7605;
    --CLcolorMain: var(--CLcolor1);
    --CLcontrast: #fff;

    --B1: #0f0f0f;
    --B2: #141414;

    --scrollToggle: hidden;

    scrollbar-width: 0;
    scrollbar-color: #a2a2a2 #2c2c2c;
    scroll-behavior: smooth;
    /*scrollbar-color: #3dc1dc #0b0b0b;*/

    overflow: var(--scrollToggle);
}

body {
    position: absolute;
    width: 100%;
    height: auto;

    margin: 0;

    background: #000;
}

/*NOTE - AppMain */
#appMain {
    position: relative;
    width: 100%;
    height: max-content;

    background: #0f0f0ff5;
    backdrop-filter: blur(30px);

    margin-top: calc(var(--NavBarHeight));
}

/*NOTE - Mode Selector */
#modeSelector {
    position: fixed;
    width: var(--ModeSelectorWidth);
    aspect-ratio: 16/9;
    bottom: 10px;
    right: 10px;
    border-radius: 100vw;
    background: color-mix(in srgb, var(--CLcolor1) 60%, transparent);
    backdrop-filter: blur(30px);

    box-shadow: 0px 2vh 8vh 0 #0000005e,
                inset 0 2vh 3vh color-mix(in srgb, var(--CLcolor1) 60%, transparent),
                inset 0 -2vh 3vh color-mix(in srgb, var(--CLcolor1) 60%, transparent);
    z-index: 10;

    padding: 0.6vh;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;

    transition: all .2s ease;
}

#modeSelector.selected {
    background: color-mix(in srgb, var(--CLcolor2) 60%, transparent);
}

#modeSelector > div {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "CLvetica";
    font-size: calc(var(--ModeSelectorWidth) / 5);
}

#modeBall {
    position: absolute;
    height: calc(100% - 1.2vh);
    left: .6vh;
    top: .6vh;
    aspect-ratio: 1;

    background: var(--CLcolor1);
    border-radius: 100vh;

    transition: all .2s ease;
}

#modeBall:hover {
    cursor: pointer;
}

#modeBall.selected {
    background: var(--CLcolor2);
    left: calc(100% - var(--ModeSelectorWidth) / 16 * 9 + 5px) ;
}

/*NOTE - Particles */
#bgParticles {
    position: fixed;
    inset: 0;

    z-index: 9;

    pointer-events: none;
}

.particle {
    position: fixed;
    top: 50%;
    left: 20%;
    aspect-ratio: 1;

    background: var(--CLcolorMain);
    border-radius: 50%;

    z-index: 9;
}

@font-face {
    font-family: "CLvetica";
    src: url("../assets/font/Coolvetica Rg.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CLsans";
    src: url("../assets/font/StackSansText-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/*NOTE - AppBoxes */
.appBox {
    position: relative;
    width: 100%;
    height: 1000px;
    background-color: #353535;
}

.appBox::after {
    position: absolute;
    width: 100%;
    height: var(--SeparatorHeight);
    left: 0;
    bottom: 0;

    content: "";
    background: linear-gradient(to right, transparent, var(--CLcolorMain), transparent);
}

/*NOTE - LoadingScreen */
#loader {
    position: fixed;
    width: 100svw;
    height: 100svh;
    top: 0;
    left: 0;

    background: radial-gradient(circle,var(--B2), var(--B1));

    z-index: 99;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    transition: all 0.3s ease;
}

#loaderLogo {
    width: var(--loaderLogoSize);
    aspect-ratio: 1;

    color: #fff;
}

#loaderLogo > svg {
    width: 100%;
    height: 100%;
}

#loaderTitle {
    font-family: "CLvetica";
    color: #fff;
    font-size: var(--loaderTitleFontSize);

    margin-bottom: 1vh; 
}

#loaderProgressBarBox {
    width: var(--loaderProgressBarWidth);
    height: .5vh;
    margin: 1.3vh 0;

    background: #353535;
    border-radius: 100vh;
}

#loaderProgressBar {
    height: 100%;
    width: 0%;

    transition: 0.2s all linear;

    filter: drop-shadow(0 0 2vh #fff);

    background: #fff;
    border-radius: 100vh;
}

#loaderSubtitles {
    font-family: "CLsans";
    color: #fff;
    font-size: calc(var(--loaderTitleFontSize) / 2.5);

    margin-bottom: 1vh; 
}