#teamBox {
    position: relative;
    width: 100%;
    height: max-content;
}

#teamBox > .first {
    position: relative;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--B1);
}

#teamMembersBox {
    position: relative;
    width: 100%;
    height: 75vh;

    display: flex;
    justify-content: center;
    align-items: end;
}

#teamMembersContainer {
    position: relative;
    width: 25%;
    max-width: 35vh;
    height: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#teamMembersContainer > .arrow {
    position: absolute;
    width: 6vh;
    aspect-ratio: 1;

    font-family: "CLvetica";
    color: var(--CLcontrast);
    font-size: calc(var(--HomeSubtitleFontSize) / 1.6);

    
    filter: drop-shadow(0 0 0 var(--CLcolorMain));
    border-radius: 100vh;
    background: color-mix(in srgb, var(--CLcolorMain) 80%, transparent);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all .1s linear;

    z-index: 1000;
}

#teamMembersContainer > .arrow:hover {
    scale: 1.1;
    cursor: pointer;
    filter: drop-shadow(0 0 1vh var(--CLcolorMain));
}

#teamMembersContainer > .arrow.l {
    transform: rotate(180deg);
    left: -7vh;
}

#teamMembersContainer > .arrow.r {
    right: -7vh;
    transform: translateY(2%);
}

.teamMember {
    position: absolute;
    width: 100%;
    height: 100%;

    border-radius: 3vh;
    background: var(--B2);
    border: 1px solid color-mix(in srgb, var(--CLcolorMain) 80%, transparent);
    filter: drop-shadow(0 0 0vh color-mix(in srgb, var(--CLcolorMain) 35%, transparent)) blur(5px) brightness(80%);

    padding: 2vh;
    box-sizing: border-box;
    transition: all .3s ease;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr .3fr .2fr .8fr;
}

.teamMember > .teamImg {
    background-position: center bottom;
    background-size: contain;
    background-repeat: no-repeat;
}

.teamMember > .teamName {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;

    color: #fff;
    font-size: 3vh;
    font-family: "CLvetica";
}

.teamMember > .teamRole {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;

    color: var(--CLcolorMain);
    font-size: 1.5vh;
    font-family: "CLvetica";
}

.teamMember > .teamTxt {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;

    color: var(--B4);
    font-size: 1.8vh;
    font-family: "CLsans";
}

.teamMember > .teamImg::after {
    position: relative;
    display: block;

    left: 0;
    bottom: -100%;

    width: 100%;
    height: var(--SeparatorHeight);
    min-height: 1px;

    content: "";
    
    background: linear-gradient(to right, transparent, var(--CLcolorMain), transparent);
    opacity: 50%;
}

.teamMember#teamP0 {
    border-width: 2px;
    filter: drop-shadow(0 0 .5vh color-mix(in srgb, var(--CLcolorMain) 35%, transparent)) blur(0px) brightness(100%);
}

#teamBox > .second {
    position: relative;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--B1);
}

#teamSpecsBox {
    position: relative;
    width: 100%;
    height: 130vh;

    display: grid;
    grid-template-columns: .6fr .4fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: calc(var(--NavBarHeight) / 4);
    column-gap: calc(var(--NavBarHeight));

    padding: calc(var(--NavBarHeight) / 2 - 2vh) calc(var(--NavBarHeight) / 2);
    padding-bottom: 0;

    box-sizing: border-box;
}

#teamSpecsBox > div {
    position: relative;
    width: 100%;
    height: 100%;

    border: 2px solid var(--CLcolorMain);
    filter: drop-shadow(0 0 5vh color-mix(in srgb, var(--CLcolorMain) 15%, transparent));

    box-sizing: border-box;

    transition: all .1s linear;
    
    border-radius: 5vh;
    background: var(--B3);

    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 33.3% 1fr;
    padding: 5vh;
}

#teamSpecsBox > div:hover {
    filter: drop-shadow(0 0 3vh color-mix(in srgb, var(--CLcolorMain) 40%, transparent));
}

.teamSpecsIcon {
    height: 100%;
    aspect-ratio: 1;
    background-color: var(--CLcolorMain);
    border-radius: 2vh;
}

.teamSpecsTitle {
    width: 100%;
    height: 100%;

    padding-left: 3vh;
    box-sizing: border-box;

    color: var(--CLcolorMain);
    font-size: 5vh;
    font-family: "CLvetica";
}

.teamSpecsTxt {
    grid-column: 2;
    width: 100%;
    height: 100%;

    padding-left: 3vh;
    box-sizing: border-box;

    font-size: 2vh;
    color: #ffffff6c;
    font-family: "CLsans";
}

#teamNumbers {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 4;
}