#teamBox > .first {
    position: relative;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--B1);
}

#teamMembersBox {
    position: relative;
    width: 100%;
    height: 70vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#teamMembersContainer {
    position: relative;
    width: 25%;
    height: 90%;

    background-color: red;
}

.teamMember {
    width: 100%;
    height: 100%;

    background-color: lime;

    transform: perspective(500px) translateZ(-141px) translateX(141px);
}