@media only screen and (orientation: portrait) {
    #teamBox > .first {
        height: 90vh;
    }

    .teamMember {
        height: 70%;
        min-width: 50vw;
        scale: 80%;
    }

    .teamMember#teamP0 {
        scale: 100%;
    }

    #teamMembersContainer > .arrow.l {
        left: -30vw;
    }

    #teamMembersContainer > .arrow.r {
        right: -30vw;
    }
}