@media only screen and (orientation: portrait) {

    #teamBox > .first > .pageTitle {
        position: absolute;
        top: 5vh;
        z-index: 1000;
    }

    #teamMembersBox {
        position: relative;
        height: 75vh;

        overflow: visible;
    }

    #teamMembersContainer {
        width: 60%;
        height: 100%;
    }

    .teamMember {
        height: 60%;
        width: 100%;
        scale: 75%;
    }

    .teamMember#teamP0 {
        scale: 100%;
    }

    #teamSpecsBox  {
        display: none;
    }
}

@media only screen and (orientation: portrait) and (min-width: 600px) {
    #teamMembersContainer {
        transform: translateY(calc(var(--NavBarHeight) / 2));
    }

    .teamMember {
        height: 80%;
    }
}